.header {
    width: 100%;
    background-color: #f8b400;
    color: white;
    display: flex;
    align-items: center;
    gap: 18px;
    padding: 12px 30px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 14px;
    box-sizing: border-box;
}

.menu {
    width: 100%;
    background-color: #f8b400;
    display: flex;
    gap: 60px;
    padding: 10px 30px;
    box-sizing: border-box;
}

.menu a {
    color: #1a4a7b;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    text-decoration: underline;
    font-size: 14px;
}

.menu a:hover {
    color: white;
}